{% extends 'base.html' %}

{% block title %}
Todo Lists
{% endblock title %}

{% block content %}

<main>
    <div>
        <h1>
            My lists
        </h1>
        <p>
            <a href="{% url 'todo_list_create' %}">Create a new list</a>
        </p>
        <p>
            <a href="{% url 'todo_item_create' %}">Create a new item</a>
        </p>
        <table>
            <thead>
                <tr>
                    <th>
                        Name
                    </th>

                    <th>
                        Number of items
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for todo in todo_list %}
                <tr>

                    <td>
                        <a href="{% url 'todo_list_detail' todo.id %}">{{ todo.name }}</a>
                    </td>



                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock content %}
